.purchase-realtor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.purchase-working {
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  object-fit: contain;
  width: 335px;
  height: 445px;
}

.purchase-working .title-banner {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  color: #3a3a3b;
  margin-top: 77px;
  margin-left: 30px;
  text-transform: uppercase;
}

.purchase-working .apartment-size {
  font-size: 24px;
  font-weight: 800;
  color: #3a3a3b;
  margin-top: 20px;
  margin-left: 30px;
}

.purchase-working .location {
  font-size: 16px;
  font-weight: 400;
  color: #3a3a3b;
  margin-top: 15px;
  margin-left: 30px;
}

.purchase-working .realtor-info {
  display: flex;
  align-items: center;
  margin-top: 59px;
  margin-left: 30px;
}

.purchase-working .realtor-info img {
  margin-right: 3%;
}

.purchase-working .realtor-info .name-realtor p {
  font-size: 16px;
  font-weight: 400;
  color: #3a3a3b;
  margin-bottom: 5px;
}

.purchase-working .realtor-info .name-realtor span {
  font-size: 18px;
  font-weight: 800;
  color: #3a3a3b;
}

.purchase-working .order-info .detail-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  margin-left: 30px;
  width: 70%;
}

.purchase-working .order-info .detail-order p {
  font-size: 12px;
  font-weight: 400;
  color: #3a3a3b;
}

.img-working {
  position: relative;
  bottom: 424px;
  left: 75px;
  z-index: -1;
  width: 0%;
}

/* BUTTON STYLE */
.container {
  width: 100%;
  padding: 20px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
}

.button {
  display: flex;
  overflow: hidden;
  margin: 3px;
  padding: 5px 12px;
  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  color: #fff;
  border: 0 none;
  border-radius: var(--borderRadius);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover {
    transition: all 150ms linear;

    opacity: 0.85;
  }

  &:active {
    transition: all 150ms linear;
    opacity: 0.75;
  }

  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
}

.button.-yellowBunner {
  margin: 0;
  width: 223px;
  margin-left: 30px;
  margin-top: 15px;
  background: var(--yellow);
  color: #3a3a3b;
  border: 2px solid #f86247;
  border-width: 1px 3px 3px 1px;
}

/* APPLICATION */

.container-application {
  margin: 0 auto;
  margin-left: 10px;
  margin-top: 30px;
  padding: 20px;
}

.container-application .title-container {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  color: #3a3a3b;
  text-transform: uppercase;
}

.application-slider img {
  width: 61px;
  height: 61px;
}

.container-application .application-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  object-fit: contain;
}

.container-application .application-slider .subtitle-container p {
  font-size: 16px;
  margin-left: 7%;
  margin-bottom: 10px;
  font-weight: 400;
  color: #3a3a3b;
}

.container-application .application-slider .subtitle-container span {
  font-size: 24px;
  font-weight: 800;
  color: #3a3a3b;
  margin-top: 10px;
  margin-left: 7%;
}

.scroll-application {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scroll-application ul {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-application ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scroll-application .scroll {
  display: inline-block;
}

/* COMPILATION */

.container-compilation {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}

.container-card {
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  object-fit: contain;
  height: 190px;
  width: 343px;
  background: var(--blue);
}

.title-compilation {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  color: #3a3a3b;
  margin-left: 20px;
  text-transform: uppercase;
}

.content-compilation {
  display: flex;
}

.left-compilation img {
  position: relative;
  bottom: 2px;
  border-radius: 10px;
}

.right-compilation {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.selected-object {
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
}

.selected-object img {
  margin-right: 14px;
}

.info-selected {
  font-size: 12px;
  font-weight: 600;
  color: #dadadb;
}

.info-selected span {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}

.no-rating {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
  right: 7px;
}

.no-rating img {
  margin-right: 14px;
}

.info-rating {
  font-size: 12px;
  font-weight: 600;
  color: #dadadb;
}

.info-rating span {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}

.button-compilation.-white {
  margin-top: 9px;
  background: #fff;
  color: #000;
  border: 2px solid #3a3a3b;
  border-width: 1px 3px 3px 1px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.button-compilation {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 3px;
  padding: 5px 12px;
  height: 40px;
  width: 180px;
  cursor: pointer;
  user-select: none;
  border-radius: 6px;
  transition: all 150ms linear;
  color: #fff;
}

/* CONTAINER DISPLAY */

.container-displays {
  margin: 0 auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 60px;
  padding: 20px;
}

.container-displays .title-displays {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  color: #3a3a3b;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.container-displays .title-displays span {
  font-size: 24px;
  font-weight: 800;
  margin-left: 8px;
  color: #f86247;
  text-transform: lowercase;
}

.container-date {
  margin: 0 auto;
  background: #3a3a3b;
  border-radius: 8px;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.container-date .left-date {
  display: flex;
}

.left-date .timeDate {
  margin-right: 12px;
}

.left-date .errorDate {
  margin-left: 13px;
}

.left-date p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.container-showing {
  margin: 0 auto;
  background: #f6ed12;
  border: 1px solid #dadadb;
  border-radius: 16px;
  transition: all 0.3s ease;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.container-showing-open {
  padding: 15px;
  padding-top: 0;
}

.title-showing p {
  font-size: 18px;
  font-weight: 800;
  color: #3a3a3b;
  margin-top: 15px;
  margin-bottom: 15px;
}

.necessity {
  display: flex;
  align-items: flex-start;
}

.necessity img {
  margin-right: 13px;
}

.necessity p {
  font-size: 16px;
  font-weight: 400;
  color: #767676;
}

.button-showing {
  margin-top: 3px;
}

.button-cost.-white {
  margin-top: 15px;
  background: #fff;
  color: #000;
  border: 2px solid #3a3a3b;
  border-width: 1px 3px 3px 1px;
}

.button-cost {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 3px;
  padding: 5px 12px;
  height: 40px;
  cursor: pointer;
  user-select: none;
  border-radius: 6px;
  transition: all 150ms linear;
  color: #fff;
}
